.u-section-1 .u-sheet-1 {
  min-height: 1266px;
}

.u-section-1 .u-shape-1 {
  width: 306px;
  height: 306px;
  margin: 60px auto 0 198px;
}

.u-section-1 .u-shape-2 {
  width: 146px;
  height: 146px;
  margin: 620px 276px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 791px;
  height: 791px;
  background-image: url("images/photo_2021-06-18_08-24-11.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -1029px 32px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 245px;
  height: 245px;
  margin: -181px 13px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 634px;
  min-height: 454px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -270px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 50px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 39px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 32px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1234px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1227px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -110px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1199px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 70px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1167px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 34px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 194px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
  }
}